body{background-color: gray;}
main{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#container{
    display: grid; 
    justify-content: center;
    grid-template-columns: repeat(16, 50px); 
    grid-template-rows: repeat(16, 50px);
    width: 960px;
}
#clear{
    background-color: white;
    margin-bottom: 1%;
}
.instructions{
    font-size: 24px;
    text-align: center;
}
#percent-mode{
    margin-top: 1%;
    margin-bottom:1%;
}
.percent-size{
    height: 30px;
    width: 300px;
    font-size: 18px;
    background-color: white;
}